<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Media</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Media</h1>
    <h1>Crear Media</h1>
    <section>
        {{#if mensaje}}
            <div class="mensaje_error">
                <p>{{mensaje}}</p>
            </div>
        {{/if}}
    </section>
    <section class="form_crear">
        <form action="/admin/Media/create" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Media</legend>
                
                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" value="{{datosForm.matricula}}" required>
                
                <label for="url">URL</label>
                <input id="url" name="url" type="text" value="{{datosForm.url}}" required>
                
                <label for="titulo">Título</label>
                <input id="titulo" name="titulo" type="text" value="{{datosForm.titulo}}" required>
                
                <label for="parrafo">Párrafo</label>
                <textarea id="parrafo" name="parrafo" required>{{datosForm.parrafo}}</textarea>
                
                <label for="imagen">Imagen</label>
                <input id="imagen" name="imagen" type="file" accept="image/*">
                
                <label for="video">Video</label>
                <input id="video" name="video" type="text" value="{{datosForm.video}}">
                
                
                <label for="tipo_medio">Tipo de Medio:</label>
                    <select id="tipo_medio" name="tipo_medio" required>
                        <option value="imagen_favorita" {{#if (eq datosForm.tipo_medio "imagen_favorita")}}selected{{/if}}>Imagen Favorita</option>
                        <option value="dibujo_propio" {{#if (eq datosForm.tipo_medio "dibujo_propio")}}selected{{/if}}>Dibujo Propio</option>
                        <option value="youtube" {{#if (eq datosForm.tipo_medio "youtube")}}selected{{/if}}>Youtube</option>
                    </select>
                
                <label for="esta_borrado">Estado</label>
                <select id="esta_borrado" name="esta_borrado">
                    <option value="0" {{#if (eq datosForm.esta_borrado "0")}}selected{{/if}}>Activo</option>
                    <option value="1" {{#if (eq datosForm.esta_borrado "1")}}selected{{/if}}>Inactivo</option>
                </select>
            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a class="volver" href="/admin/Media/listar">Volver</a>
</body>
</html>
