<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Tipos de Medio</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Tipos de Medio</h1>
    <h1>Listado de Tipos de Medio</h1>
    <section>
        {{#if message}}
            <p>{{message}}</p>
        {{else}}
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Orden</th>
                </tr>
                {{#each tipoMedioItems}}
                    <tr>
                        <td>{{this.tipo}}</td>
                        <td>{{this.descripcion}}</td>
                        <td>{{this.esta_borrado}}</td>
                        <td>{{this.orden}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </section>
    <a class="volver" href="/admin">Volver</a>
    <a class="Crearnuevo" href="/admin/TipoMedio/crear">Crear Nuevo</a>
</body>
</html>
