p {
    margin: 0 auto 20px;
    
}
body{
    background-color:#d6d6d6;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.Imagen-tabla{
  max-width: 100%;
  height: 190px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe {
    width: 580px;
    height: 330px;
}
.text{
    text-align: center;
}
h1{
    text-align: center;
}
.panel-inicio{
    background-color: #b1b9cc;
    padding: 20px;
    border-radius: 10px;
}
.container{
    text-align:center;
}
.imagen{
    text-align: center;
}
.logo {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.video-youtube,.imagen_favorita,.dibujo{
    width: 800px;
    height: 700px;
}

/* Estilo para la lista */
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}

/* Estilo para los enlaces */
a {
    color: #1d1d1d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.imagen-representativa,
.dibujo-propio{
    text-align: center;
}
.enlaces{
    text-align:center;
}
.iframe-container-j iframe {
    width: 780px;
    height: 450px;
}
/*------------------------------------------------------*/
/* css de curso.html */
/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Estilos para el contenedor de la barra de navegación */
  .container-navbar {
    background-color:#b1b9cc;
    padding: 10px;
  }

  /* Estilos para la barra de navegación */
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  /* Estilos para la lista de enlaces */
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Estilos para los enlaces */
  .navbar ul li {
    display: inline-block;
    margin-right: 10px;
  }

  .navbar ul li a {
    color: rgb(2, 1, 1);
    text-decoration: none;
  }

  .navbar ul li a:hover {
    color: #ccc;
  }

  /* Estilos para el contenedor principal */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para el título del curso */
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  /* Estilos para las secciones */
  section {
    margin-bottom: 20px;
  }

  /* Estilos para la descripción del curso */
  section.descripcion p {
    text-align: justify;
  }

  /* Estilos para la lista de objetivos del curso */
  section.objetivos ul {
    list-style-type: circle;
    padding-left: 20px;
  }

  /* Estilos para el plan de estudios */
  section.plan ul {
    list-style-type: none;
    padding-left: 20px;
  }

  section.plan ul li {
    margin-bottom: 5px;
  }

  section.plan ul li ul {
    list-style-type: disc;
    padding-left: 15px;
  }
  footer.pie-de-pagina {
    background-color:#b1b9cc; /* Change background color as needed */
    color: #000000; /* Change text color as needed */
    padding: 20px;
    text-align: center; /* Center the content */
    position: sticky; /* Make the footer sticky */
    bottom: 0; /* Position it at the bottom of the page */
    width: 100%; /* Span the full width of the page */
    z-index: 100; /* Ensure it stays on top of other elements */
  }
  
  .pie-de-pagina .informacion-general,
  .pie-de-pagina .enlaces {
    display: inline-block; /* Allow for side-by-side positioning */
    margin-bottom: 10px; /* Add some spacing between sections */
  }
  
  .pie-de-pagina .informacion-general h5 {
    margin-top: 0; /* Remove default top margin */
    margin-bottom: 10px; /* Add some spacing below the heading */
  }
  
  .pie-de-pagina .enlaces a {
    color: inherit; /* Inherit text color from footer */
    text-decoration: none; /* Remove default underline */
  }
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
  }

  /*Tablas de integrantes,Tiposmedio.media*/
  table {
    width: 100%; /* Set table width to 100% of its container */
    border-collapse: collapse; /* Remove gaps between table cells */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border: 1px solid black; /* Add a black border around the table */
  }
  
  table th,
  table td {
    padding: 10px; /* Add some padding to table cells */
    border: 1px solid black; /* Add black borders to each table cell */
    text-align: left; /* Align text to the left */
  }
  
  table th {
    background-color: #f2f2f2; /* Light gray background for table headers */
    font-weight: bold; /* Make header text bold */
  }
  
  .Tabla_inicio {
    /* Existing styles remain the same for layout and spacing */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .Tabla_inicio li {
    /* Existing styles remain the same for rounded corners, shadow, and transition */
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  
    /* New style for equal sizing */
    width: calc(100% / 3); /* Adjust the divisor for the number of elements per row */
    text-align: center; /* Maintain centered text within the element */
  }
  
  .Tabla_inicio li:hover {
    /* Existing style for hover background color */
    background-color: #e6e6e6;
  }
  
  .Tabla_inicio a {
    /* Existing styles remain the same for link appearance */
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .Crearnuevo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
  }
  
  .Crearnuevo:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
  }
  
  .volver:hover {
    background-color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

.form_crear {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Más sombreado */
}

.form_crear fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form_crear legend {
    font-size: 1.8em; /* Tamaño de fuente ligeramente mayor */
    margin-bottom: 20px; /* Mayor espacio inferior */
    color: #333;
}

.form_crear label {
    display: block;
    margin: 15px 0; /* Mayor espacio vertical */
    font-weight: bold;
}

.form_crear input[type="text"],
.form_crear select {
    width: calc(100% - 20px); /* Ancho ajustado para tener espacio para el borde */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px; /* Bordes más redondeados */
}

.form_crear input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #04f00f; /* Azul más vibrante */
    color: #0c0404;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em; /* Tamaño de fuente ligeramente mayor */
    transition: background-color 0.3s; /* Transición suave en el cambio de color */
}

.form_crear input[type="submit"]:hover {
    background-color: #1be908; /* Color más oscuro al pasar el cursor */
}

.form_crear a {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #007bff;
    text-decoration: none;
}

.form_crear a:hover {
    text-decoration: underline;
}

.mensaje_error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4470e7; /* Rojo más intenso */
  color: #000000; /* Letras negras */
  padding: 20px; /* Mayor espacio de relleno */
  border-radius: 10px; /* Bordes más redondeados */
  margin-top: 20px; /* Espacio superior para separar del contenido superior */
  text-align: center;
  font-size: 20px; /* Tamaño de fuente un poco más grande */
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombreado más pronunciado */
}
